body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header,
footer {
    width: 100%;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.top1 {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.descricao {
    margin-left: 80px;
}

img {
    margin: 10px 40px 40px 50px
}



.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

p {
    margin: 0px 30px 10px 40px
}

ul {
    margin: 20px 0;
    padding: 0;
    list-style-type: disc;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    margin: 40px 0;
}






.center-text {
    text-align: center;
    font-weight: bold;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.left, .right {
    width: 48%;
}

.left ul, .right ul {
    list-style-type: disc;
    padding-left: 20px;
}



footer {
    background-color: #333;
    color: #fff;
    /* margin-top: 10px; */
    text-align: center;
}