body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header,
footer {
    width: 100%;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.imagem {
    margin-bottom: 30px;
    width: 300px;
    height: 300px;
    margin-right: 10px;
}

.imagem:last-child {
    margin-right: 0;
}

.imagem-rodape {
    /* margin-bottom: 25px; */
    width: 300px;
    height: 300px;
    /* margin-bottom: 10px; */
}

.imagem-rodape:last-child {
    margin-bottom: 0;
}

.imagem-destaque {
    margin-bottom: 30px;
    width: 600px;
    height: 500px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}

.top1 {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    margin-top: 30px;
    text-align: center;
}